<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2019 Rails103
    <br>Design by
      <a htef="http://logdown.com/account/posts/7830592-tips-for-mac-keyboard-input-symbols/edit" targer=_new>udizy</a>
    </p>
    </footer>
